body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;

}
.navbar{
    background-color:rgb(189, 192, 194);
}

.welcome{
    margin-top: 5%;
    font-family: 'Fira Code', monospace;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
h1, h4{
    color: rgb(198, 9, 223);
    font-family: 'Press Start 2P', cursive ;
    text-shadow: 2px 2px #1cbcfc;
}
.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: small;
}
iframe{
    width: 200px;
    height: auto;
    position: static;
}
.col-lg-3>p{
    font-family: 'Fira Code 300', monospace;
    font-size: 10px;
}
.cursus{

    display: flex;
    margin: 4% auto 0 auto;
    max-width: 950px;
}

.game{
    margin-top:5%;
    max-width: 200px;
}
.gameboy{
    padding-right: 5%;
}
.nintendo{
  
    max-width: 300px;
}
@media screen and (max-width:600px){
    .gameboy, .games{
        max-width:100%;
    }
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
.projects{
    margin-top:3%;
    text-align: center;

}
.projects>p{
    margin-top: 5%;
    float: left;
    writing-mode: vertical-rl;
    text-orientation: upright;
}
.project{
    height: 550px;
    width: auto;
    margin: 3% 4% 3% 4%;
}