body{
    margin: 0;
    padding: 0;
    font-family: 'Fira Code', monospace;
    background:linear-gradient(rgb(253, 169, 121) 0%, rgb(157, 253, 221) 10% 30%, rgb(228, 128, 253) 50% 70%, rgb(228, 128, 253) 90% 100%);

     /*linear-gradient(rgb(121, 227, 253) 15%, rgb(116, 255, 209) 10%, rgb(131, 243, 137) 50%, rgb(228, 128, 253) 75%,rgb(121, 227, 253) 25%);;*/


}
.navbar{
    background-color:rgb(189, 192, 194);
}

.welcome{
    margin-top: 5%;
    font-family: 'Fira Code', monospace;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}
h1, h4{
    color: rgb(198, 9, 223);
    font-family: 'Press Start 2P', cursive ;
    text-shadow: 2px 2px #1cbcfc;
}
.container{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: small;
}
iframe{
    width: 200px;
    height: auto;
    position: static;
}
.col-lg-3>p{
    font-family: 'Fira Code 300', monospace;
    font-size: 10px;
}
.cursus{

    display: flex;
    margin: 4% auto 0 auto;
    max-width: 950px;
}

.game{
    margin-top:5%;
    max-width: 200px;
}
.gameboy{
    padding-right: 5%;
}
.nintendo{
  
    max-width: 300px;
}
@media screen and (max-width:600px){
    .gameboy, .games{
        max-width:100%;
    }
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }
  .hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
.projects{
    margin-top:5%;
   margin-right: auto;
   margin-left: auto;
    display: flex;
}
.project{
    height: 300px;
    width: auto;
}




.memory{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    padding-left: 0.5%;
}
.memory>p{
    margin:5% 2% 2% 1%;
    text-align: initial;
    color: white;
}
.track{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    padding-left: 0.5%;
}
.track>p{
    margin:5% 2% 2% 1%;
    text-align: initial; 
    color: white;
}
.point-dorgue{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2%;
    padding-left: 0.5%;
}
.point-dorgue>p{
    margin:5% 2% 2% 1%;
    text-align: initial;
    color: white;
}

.projects{
    background-color: white;
}
.card-wrapper{
    height:400px;
    width:247px;
    perspective: 1000px;
    
}

.content{
    position: relative;
    width:100%;
    height:100%;
    text-align:center;
    transition:transform 0.8s;
    transform-style: preserve-3d;
   
}
.card-wrapper:hover .content {
    transform: rotateY(180deg);
    transition: 1s;
}

.face-front, .face-back{
   position: absolute;
   width: 100%;
   height: 100%; 
   background-color:#fff;
   color: black;
}
.card-body{
    background-color: rgb(240, 240, 240);
    height:400px;
    width:247px;
    font-family: 'Fira Code 300', monospace;
    font-size: 12px;
    text-align: left;
    text-decoration: none;
}

.face-back{
    transform: rotateY(180deg);
}

.picto{
    height: 30px;
    width: auto;
    margin: 5px 5px 5px 5px;
}

.new-message{
   
    background-image: url(../pictures/form.png);
    background-repeat:no-repeat;
   /* background-color: rgba(252, 0, 168, 0.774);*/
    height: 596px;
    width: 919px;
    margin-left: auto;
    margin-right: auto;
}
.formulaire{
  /* background-color: rgba(126, 252, 0, 0.541);*/
    padding-top:7%;

    margin-left: 6%;
    margin-right: 6%;
    font-size: 0.8em;
}
.rgpd{
    font-family: 'Press Start 2P', cursive ;
}

.btn{
    color:white;
    background-color: grey;
}
  




